<div>
    <div>
        <h1>User OK Login!</h1>
        <h2><i>Welcome {{datos.nombre}}</i></h2>
        <br>
        <h3>dirección: {{datos.direccion}}</h3>
        <h4>visitas: {{contador}}</h4>
        <button onClick="location.href='/logout'">Logout</button>
    </div>
</div>