<div class="container text-center my-3">
    <div class="jumbotrom" style="background-color: brown; color: white;">
        <h1>User error Register</h1>

        <button class="btn btn-warning my-5" onclick="location.href='/'">Back</button>
    </div>
</div>